*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbar h3{
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: medium;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: black;
        height: 100%;
    width: 100%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    height: 50px
}
#navbar-pt2{
    display: flex;
    align-items: center;
    gap: 25px;
}
h1{
    color: #ffffff;
    font-size: 100px;
    text-transform: uppercase; 
    font-weight: 100;
    line-height: 80px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    z-index: 9;
    position: relative;
}
#main h1:nth-child(2){
        margin-top: 80px;
}
#main h1:nth-child(3){
        text-align: center;
}
#main h1:nth-child(4){
        text-align: center;
}
img{
    height: 300px;
    top: 20%;
    left: 50%;
    position: absolute;
}
#img2{
    rotate: 8deg;
}
#img3{
    rotate: 15deg;
}